[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec= xdm-snap %U
Name=XDM-Snap
Comment=Powerfull download accelarator and video downloader
Categories=Network;
Icon=${SNAP}/meta/gui/xdman.svg
