[Desktop Entry]
Encoding=UTF-8
Type=Application
Terminal=false
Exec=xdm-snap %U
Name=XDM-Snap
Comment=Powerfull download accelarator and video downloader
Categories=Network;
MimeType=application/xdm-app;x-scheme-handler/xdm-app;
Icon=${SNAP}/meta/gui/xdman.svg
